{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}


{% block content %}

<ul>
    {% for post in posts %}
        <li>
            <a href="/posts/{{post.id}}">{{post.title}}</a>
            <p>{{post.content}}</p>
            By <a href="/users/{{post.user_id}}">{{post.users.full_name}}</a> on {{post.created_at.month}}-{{post.created_at.day}}-{{post.created_at.year}} {{post.created_at.strftime('%I: %M')}} 
        </li>
        
        <ul>
            {% for tag in tags %}
                {% if tag.post_id == post.id %}
                    <li>{{tag.tags.name}}</li>
                {% endif %}
            {% endfor %}
            
        </ul>

    {% endfor %}

    
</ul>
<form action="/users">
    <button>Go to Users</button>
</form>
<form action="/tags">
    <button>Tags</button>
</form>
{% endblock %}