{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock %}


{% block content %}

    <h1>{{post.title}}</h1>

    <p>{{post.content}}</p>

    {% if post.users.id == post.user_id %}

    <blockquote>By {{post.users.full_name}} on  {{post.created_at.month}}-{{post.created_at.day}}-{{post.created_at.year}} {{post.created_at.strftime('%I: %M')}}</blockquote>

    {% endif %}

    <ul>
        {% for tag in tags %}

            <li>{{tag}}</li>

        {% endfor %}
    </ul>

    <form action="/">
        <button>Back</button>
    </form>
    <form action="/posts/{{post.id}}/edit">
        <button>Edit</button>
    </form>
    <form action="/posts/{{post.id}}/delete" method="post">
        <button>Delete</button>
    </form>

{% endblock %}